body{
    background-color: rgb(198, 230, 228)
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
width: 100%;
height:100vh ;
}


.box{
background-color: #fff;
    box-shadow: 0px 10px 10px rgba(0, 0,0,0.2);
border-radius: 8px;
}

.inp{
display: flex;
justify-content: center;
width: 100%;
}

.inp input{
    margin: 5px;
max-width: 50px;
height:35px ;
padding-left:5px;
font-size: 1.3rem;
font-weight: 500;
background-color: aliceblue;
box-shadow: 0px 10px 10px rgba(0,0, 0,0.2);
border: 1px solid rgb(210, 210, 210);
border-radius: 5px;
}

.alarm{
    width: 100%;
margin-top: 10px;
margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alarm button{
    background-color:#1E90FF ;
    color: #fff;
     border: 1px solid #1E90FF;
     border-radius: 20px;
    }

    .start-alarm{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 40px;
    border-bottom:1px solid rgb(202, 202, 202) ;
    }

    .start-alarm input[type="checkbox"]{
appearance: none;
height: 1.6em;
width: 2.75em;
background-color: #e2e2ec;
border-radius: 1.25em;
position: relative;
cursor: pointer;
outline: none;
    }
    
    .start-alarm input[type="checkbox"]:before{
position: absolute;
content: "";
background-color: #757683;
height: 1.3em;
width: 1.3em;
border-radius: 50%;
top: 0.20em;
left: 0.20em;
    }

    .start-alarm input[type="checkbox"]:checked{
background-color: #d2e2ff;
    }

    .start-alarm input[type="checkbox"]:checked:before{
background-color: #377dff;
left: 1.2em;
top:2.5px;
}
.start-alarm button{
font-size: 1.3rem;
}

.start-alarm .div2{
    display: flex;
}

